## Semester 1 Project Submission

Please fill out:
* Student name: Prince
* Instructor name: Abhineet

### Importing Libraries

In [12]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
! cd ../..

### importing data CSV and SQLite DB

In [14]:
tn_budgets = pd.read_csv("../tn.movie_budgets.csv.gz")

In [45]:
rt_movie = pd.read_csv("rt.movie_info.tsv.gz", sep='\t')
rt_reviews = pd.read_csv("rt.reviews.tsv.gz", sep='\t', encoding='windows-1252')
tmdb = pd.read_csv("tmdb.movies.csv.gz")
tn_budgets = pd.read_csv("tn.movie_budgets.csv.gz")

FileNotFoundError: [Errno 2] No such file or directory: 'rt.movie_info.tsv.gz'

### replacing uncessary symbols in some strings, filling n/a's with 0

In [ ]:
###drop currency and box office and studio columns??
bom['foreign_gross']= bom['foreign_gross'].str.replace(',','')
bom['foreign_gross'] = bom['foreign_gross'].fillna(0)
bom = bom.astype({'foreign_gross': float})
bom['domestic_gross'] = bom['domestic_gross'].fillna(0)
bom = bom[bom['studio'].notna()]
rt_reviews = rt_reviews[rt_reviews['rating'].notna()]
rt_reviews = rt_reviews[rt_reviews['review'].notna()]
rt_reviews = rt_reviews[rt_reviews['critic'].notna()]
rt_reviews = rt_reviews[rt_reviews['publisher'].notna()]

### clean rating column. ratings are out of 4, 5, 10, etc. Some have decimals, some shows /'s
### need to standardize ratings and turn to integers/floats

In [ ]:
tn_budgets['release_date'] = pd.to_datetime(tn_budgets['release_date'])
#tn_budgets['production_budget'] = tn_budgets['production_budget'].str.replace('$','')
#tn_budgets['production_budget'] = tn_budgets['production_budget'].str.replace(',','')
#tn_budgets = tn_budgets.astype({'production_budget': 'int64'})
#tn_budgets['domestic_gross'] = tn_budgets['domestic_gross'].str.replace('$','')
#tn_budgets['domestic_gross'] = tn_budgets['domestic_gross'].str.replace(',','')
#tn_budgets = tn_budgets.astype({'domestic_gross': 'int64'})
#tn_budgets['worldwide_gross'] = tn_budgets['worldwide_gross'].str.replace('$','')
#tn_budgets['worldwide_gross'] = tn_budgets['worldwide_gross'].str.replace(',','')
tn_budgets = tn_budgets.astype({'worldwide_gross': 'int64'})

### Adding year column to Tn budgets

In [ ]:
tn_budgets['year'] =  pd.DatetimeIndex(tn_budgets['release_date']).year

In [ ]:
tn_budgets

In [ ]:
bom

In [ ]:
bom_budgets = pd.merge(tn_budgets, bom[['studio','title', 'year']],left_on=['movie','year'], right_on = ['title','year'], how = 'inner')

In [ ]:
bom_budgets

In [10]:
bom_budgets['net'] = bom_budgets['worldwide_gross'] - bom_budgets['domestic_gross']

NameError: name 'bom_budgets' is not defined

In [ ]:
bom_budgets

### top_ten studio

In [9]:
x = bom_budgets.groupby('studio')['net'].mean()

NameError: name 'bom_budgets' is not defined

In [4]:
sns.histplot(x = x, hue = group)

NameError: name 'x' is not defined

In [304]:
bom_budgets['studio'].value_counts()

Uni.         115
Fox          109
WB           101
Sony          73
Par.          72
            ...
Kino           1
BSC            1
Cleopatra      1
Viv.           1
Jan.           1
Name: studio, Length: 96, dtype: int64

In [240]:
director_rt = pd.merge(rt_movie,director_budgets[['primary_name','primary_title', 'year','worldwide_gross']],
                           left_on=['director', 'year'], right_on= ['primary_name','year'], how = 'inner')

KeyError: 'year'

In [243]:
bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,0.0,2018
3383,Edward II (2018 re-release),FM,4800.0,0.0,2018
3384,El Pacto,Sony,2500.0,0.0,2018
3385,The Swan,Synergetic,2400.0,0.0,2018
3386,An Actor Prepares,Grav.,1700.0,0.0,2018

In [187]:
studio_merge = pd.mer

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [ ]:
tmdb_budgets.corr()

In [ ]:
pandas

####director_df = pd.read_sql("""
SELECT a.primary_name, a.person_id,b.primary_title,b.start_year,b.runtime_minutes, b.genres
FROM (SELECT primary_name, person_id, movie_id category
      FROM persons
      LEFT JOIN principals
      USING(person_id)
      WHERE category = 'director') a
JOIN principals p 
ON a.person_id = p.person_id
JOIN movie_basics b
ON p.movie_id = b.movie_id
;""", conn)

#Selecting movies and the directors who directed them
director_df = pd.read_sql("""
SELECT p.primary_name, p.person_id,b.primary_title,b.start_year,b.runtime_minutes, b.genres
FROM persons p 
JOIN directors d
ON p.person_id = d.person_id
JOIN movie_basics b 
ON d.movie_id = b.movie_id
;""", conn)

director_budgets = pd.merge(director_df,tn_budgets[
['movie', 'year','production_budget','domestic_gross','worldwide_gross']],
                           left_on=['primary_title', 'start_year'], right_on= ['movie', 'year'], how = 'inner')
director_budgets = director_budgets.drop_duplicates()